/* App.css */
.container {
  background-color: aliceblue;
  border-style: ridge;
  border-color: #727c81cb;
  border-radius: 2px;
  border-width: 6px;
  height: auto;

  
}



.FormStyle{
  margin: 0;
  display: grid;
  grid-template-columns: 1fr, 2fr;
  grid-template-rows: 1fr 1fr;
  max-width: 33vw;
}

.FormStyle p{
  margin: 0;
  padding: 0;
}

.FormStyle h2{
  margin: 0;
  padding: 0;
}


.LeftFormStyle{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  column-span: all;
  margin: 0;
}

.UpperRightFormStyle{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(245, 245, 245);
  column-width: 33vw;
}

.grid-container > div {
  direction: column;
  text-align: center;
  padding: 20x 0;

  border-style: solid;
  border-width: 5px;
  border-color: black;
  overflow: auto;
}


.c1 {
  font-size: 30px; 
  background-color: white; 
  border-radius: 10px ; 
  height: 50px;
  grid-column-start: 1;
  grid-column-end: 2;
}

.c2 {
  font-size: 30px; 
  background-color: white; 
  border-radius: 10px ; 
  height: 50px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.c3 {
  font-size: 30px; 
  background-color: white; 
  border-radius: 10px ; 
  height: 50px;
  grid-column-start: 3;
  grid-column-end: 4;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  height: 900px;
}

.item2{
  grid-column-start: 2;
  grid-column-end: 3;
}

.item3{
  grid-column-start: 3;
  grid-column-end: 4;
}

.HeadTitle{
text-align: center;
background-color: whitesmoke;
}

.HeadTitle{
  text-align: center;
  background-color: whitesmoke;
}


.task{
height: 300px;
width: 30vw;
padding: 1vw, 1vw;
margin: 10px;
border-style: groove;
border-radius: 3px;
border-width: 5px;
border-color: rgb(150, 95, 0);
background-color: rgb(244, 218, 133);
}